@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "open sans", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #101010;
}

.container .header {
  width: 100%;
  text-align: center;
  color: white;
  padding: 1.5rem;
  background-color: steelblue;
}

.header h4 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.header h1 {
  font-size: 3.5rem;
  margin: 8px 0;
}

.container .menu {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 4rem;
}

.menu button {
  all: unset;
  font-weight: 500;
  padding: 0.8rem 1rem;
  color: #101010;
  transition: background 0.4s ease;
  cursor: pointer;
}

.menu .difficult button:nth-child(1).styled {
  background-color: steelblue;
  color: white;
}

.menu .difficult button:nth-child(2).styled {
  background-color: steelblue;
  color: white;
}

.menu button:hover {
  background-color: steelblue;
  color: #fff;
}

.container .color {
  width: 60%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.color .box {
  transition: all 0.5s ease;
  width: 32%;
  height: 150px;
  border-radius: 10px;
  margin: 10px 0;
}

@media screen and (min-width: 480px) and (max-width: 600px) {
  .container .color {
    width: 95%;
    flex-wrap: wrap;
  }

  .container .menu {
    padding: 0 2rem;
  }

  .container .header {
    width: 100%;
  }

  .container .header h1 {
    font-size: 2.5rem;
    margin: 15px 0;
  }

  .container .header h4 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 380px) and (max-width: 480px) {
  .container .color {
    width: 95%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 2rem 0;
  }

  .container .color .box {
    width: 100%;
    margin: 0;
  }

  .container .menu {
    padding: 0 2rem;
  }

  .container .header {
    width: 100%;
  }

  .container .header h1 {
    font-size: 2.5rem;
    margin: 15px 0;
  }

  .container .header h4 {
    font-size: 1.3rem;
  }
}
